.letters {
    padding: 0 5%;
    margin: 100px 0;
}

.big {
    font-size: 400%;
    /* text-transform: uppercase; */
}

.lower {
    text-transform: lowercase;
}

.upper {
    text-transform: uppercase;
}

.button {
    font-size: 170%;
    text-transform: uppercase;
}

.clicker {
    font-size: 170%;
    display: inline;
}